{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" type="text/css" href="{% static 'Master/index.css' %}">
</head>

<body>
 

    
            <a type="button" class="btn-7" href="{% url 'Master-nsdlbenpos' %}"><span>NSDL Benpos</span></a>
            <a type="button" class="btn-7" href="{% url 'Master-cdslbenpos' %}"><span>CDSL Benpos</span></a>


</body>

</html>