{% extends 'Base/index.html' %}
{% block main %}
{% load static %}

    
    <link rel="stylesheet" type="text/css" href="{% static 'Master/index.css' %}">
 

      <ul class="main__list">
    <li><a type="button" href="{% url 'Master-nsdlbenpos' %}"> NSDL Benpos Import</a></li>
    <li><a type="button" href="">CDSL Benpos Import</a></li>
  </ul>
            {% comment %} <a type="button" class="btn-7" href="{% url 'Master-nsdlbenpos' %}"><span>NSDL Benpos</span></a>
            <a type="button" class="btn-7" href="{% url 'Master-cdslbenpos' %}"><span>CDSL Benpos</span></a> {% endcomment %}


{% endblock main %}

